<!DOCTYPE html>
<html lang="es" data-ng-app="flyingfar">
    <head>
        <title>Flying Far</title>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <link  rel="stylesheet" type="text/css" href="css/base/bootstrap.css"/>
        <link  rel="stylesheet" type="text/css" href="css/base/bootstrap-theme.css"/>
        <link  rel="stylesheet" type="text/css" href="css/base/datetimepicker.css"/>
        <link  rel="stylesheet" type="text/css" href="css/flyingfar.css"/>
    </head>
    <body data-ng-controller="GlobalController" data-ng-cloak class="ng-cloak">        

        <div id="main-wrapper">
            <header id="main-header">
                <div class="container" data-ng-show="!isLoginAdmin">
                    <div data-ng-if="session.roleList[0] === 'ROLE_SYSTEM_ADMIN' || session.roleList[0] === 'ROLE_AIRLINE_ADMIN'" data-ng-include="'fragments/views/commons/SysAdminMenu.html'"></div>
                    <div data-ng-if="(session.roleList[0] !== 'ROLE_SYSTEM_ADMIN' &&  session.roleList[0] !== 'ROLE_AIRLINE_ADMIN')" data-ng-include="'fragments/views/commons/ClientMenu.html'"></div>
                    <!--<div data-ng-if="session.roleList[0] !== undefined " data-ng-include="'fragments/views/commons/ClientMenu.html'"></div>-->
                </div>
            </header>

            <div id="main-content" class="view-container">
                <div data-ng-view class="view-frame"></div>
            </div>

            <footer id="main-footer">
                <!--<div class="content">© 2014 Raúl Sánchez Castillo.</div>-->
                <!--{{session}}-->
                <!--{{isLoginAdmin}}-->
            </footer>

        </div>

        <!--include vendors-->
        <script type="text/javascript" src="js/vendor/angular.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.js"></script>
        <script type="text/javascript" src="js/vendor/angular-route.js"></script>
        <script type="text/javascript" src="js/vendor/angular-resource.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls-0.10.0.js"></script>
        <script type="text/javascript" src="js/vendor/moment.min.js"></script>
        <script type="text/javascript" src="js/vendor/datetimepicker.js"></script>

        <script type="text/javascript" src="js/flyingfar.js"></script>
        <script type="text/javascript" src="js/constants.js"></script>

        <!--include utils-->
        <script type="text/javascript" src="js/utils/util.js"></script>

        <!--include controllers-->
        <script type="text/javascript" src="js/modules/controllers.js"></script>
        <script type="text/javascript" src="js/controllers/DashboardController.js"></script>
        <script type="text/javascript" src="js/controllers/LoginController.js"></script>
        <script type="text/javascript" src="js/controllers/AdminListController.js"></script>
        <script type="text/javascript" src="js/controllers/admin/CreateAdminCompanyController.js"></script>
        <script type="text/javascript" src="js/controllers/ConfirmationDialogController.js"></script>
        <script type="text/javascript" src="js/controllers/AirlineListController.js"></script>
        <script type="text/javascript" src="js/controllers/AirportListController.js"></script>
        <script type="text/javascript" src="js/controllers/airline/CreateAirlineController.js"></script>
        <script type="text/javascript" src="js/controllers/airport/CreateAirportController.js"></script>
        <script type="text/javascript" src="js/controllers/plane/CreatePlaneController.js"></script>
        <script type="text/javascript" src="js/controllers/flight/CreateFlightController.js"></script>
        <script type="text/javascript" src="js/controllers/user/CreateClientController.js"></script>
        <script type="text/javascript" src="js/controllers/AdminLoginController.js"></script>
        <script type="text/javascript" src="js/controllers/PlaneListController.js"></script>
        <script type="text/javascript" src="js/controllers/FlightListController.js"></script>
        <script type="text/javascript" src="js/controllers/user/MyFlightListController.js"></script>
        <script type="text/javascript" src="js/controllers/ReportsController.js"></script>
        <script type="text/javascript" src="js/controllers/user/FlightDetailsController.js"></script>
        <script type="text/javascript" src="js/controllers/user/FlightReservePayController.js"></script>
        <script type="text/javascript" src="js/controllers/user/ModifySeatFlightReserveController.js"></script>
        <script type="text/javascript" src="js/controllers/user/ModifyDateFlightReserveController.js"></script>


        <!--include services-->
        <script type="text/javascript" src="js/modules/services.js"></script>
        <script type="text/javascript" src="js/services/UserService.js"></script>
        <script type="text/javascript" src="js/services/AdminCompanyService.js"></script>
        <script type="text/javascript" src="js/services/DialogService.js"></script>
        <script type="text/javascript" src="js/services/AirlineService.js"></script>
        <script type="text/javascript" src="js/services/AirportService.js"></script>
        <script type="text/javascript" src="js/services/CityService.js"></script>
        <script type="text/javascript" src="js/services/PlaneService.js"></script>
        <script type="text/javascript" src="js/services/FlightService.js"></script>
        <script type="text/javascript" src="js/services/ClientService.js"></script>
        <script type="text/javascript" src="js/services/SessionService.js"></script>
        <script type="text/javascript" src="js/services/LocalStorageService.js"></script>
        <script type="text/javascript" src="js/services/ReportService.js"></script>

        <!--include directives-->
        <script type="text/javascript" src="js/modules/directives.js"></script>

    </body>
</html>
