<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/dashboard" data-ng-dblclick="gotoAdminLogin()"
               tooltip="Un click para volver al inicio ó doble click para acceder a la administración"
               tooltip-placement="bottom">FlyingFar</a>
        </div>
        <div class="navbar-collapse collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span data-ng-if="session">
                            {{session.user.name + " " + session.user.surname}} 
                        </span>
                        <span data-ng-if="!session.user">Login</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" stop-event='click'>
                        <li class="col-xs-12" style="margin-top: 25px;" data-ng-hide="session.user">
                            <form id="loginForm" name="loginForm" role="form" novalidate>
                                <div class="form-group col-xs-12">
                                    <input  type="text"  
                                            name="usernameInput"
                                            placeholder="Username"
                                            required
                                            data-ng-model="user.username"
                                            tabindex="1"
                                            />
                                </div>
                                <div class="form-group col-xs-12">
                                    <input  type="password"  
                                            name="passwordInput"
                                            placeholder="Password"
                                            required
                                            data-ng-model="user.password"
                                            tabindex="2"
                                            data-ng-keydown="submitLogin($event)"
                                            />
                                </div>
                                <div class="col-xs-12">
                                    <p style="font-size: 12px; text-align: center; color: #2a6496">{{message}}<p>
                                </div>
                                <div class="form-group col-xs-12">
                                    <span style="font-size: 12px; "><a href="#" data-ng-click="openSignupClient()">Signup</a></span>
                                    <div class="pull-right">
                                        <button type="submit" form="loginForm" class="btn btn-success btn-xs"
                                                data-ng-disabled="loginForm.$invalid" data-ng-click="login(user)">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li data-ng-if="session.user">
                            <a href="#/client/{{session.user.username}}/dashboard">Mis vuelos</a>
                        </li>
                        <li data-ng-if="session.user"class="divider"></li>
                        <li data-ng-if="session.user"><a href="#" data-ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</nav>