<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/admin/login">FlyingFar <sup>Admin</sup></a>
        </div>
        
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active:menu[0]}"><a href="#/admin/flights">Vuelos</a></li>
                <li data-ng-class="{active:menu[1]}"><a href="#/admin/planes">Aviones</a></li>
                <li data-ng-class="{active:menu[2]}"><a href="#/admin/reports">Informes</a></li>
            </ul>
        </div>
    </div>
</nav>