<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{dialog.title}}</h4>
</div>
<div class="modal-body text-center" data-ng-bind-html="dialog.message">

</div>
<div class="modal-footer" data-ng-show="!hideFooter">
    <button class="btn btn-primary send" data-ng-click="submit()" data-focus-element="focusSubmit">Continuar</button>
    <button class="btn btn-default" data-ng-show="!hideCancelButton" data-ng-click="cancel()" data-focus-element="focusCancel">Cancelar</button>
</div>
