<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">FlyingFar <sup>Admin</sup></div>
        </div>

        <p class="navbar-text navbar-right">
            {{session.user.name + ' ' + session.user.surname}} |
            <a href="#/admin/admins" class="navbar-link">
                <span data-ng-click="logout()">Salir</span>
            </a>
        </p>
        <div class="collapse navbar-collapse" id="menu">
            <!--ROLE_SYS_ADMIN-->
            <ul class="nav navbar-nav" data-ng-if="session.roleList[0] === 'ROLE_SYSTEM_ADMIN'">
                <li data-ng-class="{active:adminNavegationList.sys[0].active}">
                    <a href="{{adminNavegationList.sys[0].url}}" 
                       data-ng-click="clickItemMenu(adminNavegationList.sys, 0)">
                        {{adminNavegationList.sys[0].title}}
                    </a>
                </li>
                <li data-ng-class="{active:adminNavegationList.sys[1].active}">
                    <a href="{{adminNavegationList.sys[1].url}}" 
                       data-ng-click="clickItemMenu(adminNavegationList.sys, 1)">
                        {{adminNavegationList.sys[1].title}}
                    </a>
                </li>
                <li data-ng-class="{active:adminNavegationList.sys[2].active}"
                    ><a href="{{adminNavegationList.sys[2].url}}" 
                    data-ng-click="clickItemMenu(adminNavegationList.sys, 2)" >
                        {{adminNavegationList.sys[2].title}}
                    </a>
                </li>
            </ul>
            <!--ROLE_AIRLINE_ADMIN-->
            <ul class="nav navbar-nav" data-ng-if="session.roleList[0] === 'ROLE_AIRLINE_ADMIN'">
                <li data-ng-class="{active:adminNavegationList.company[0].active}">
                    <a href="{{adminNavegationList.company[0].url}}" 
                       data-ng-click="clickItemMenu(adminNavegationList.company, 0)">
                        {{adminNavegationList.company[0].title}}
                    </a>
                </li>
                <li data-ng-class="{active:adminNavegationList.company[1].active}">
                    <a href="{{adminNavegationList.company[1].url}}" 
                       data-ng-click="clickItemMenu(adminNavegationList.company, 1)">
                        {{adminNavegationList.company[1].title}}
                    </a>
                </li>
                <li data-ng-class="{active:adminNavegationList.company[2].active}"
                    ><a href="{{adminNavegationList.company[2].url}}" 
                    data-ng-click="clickItemMenu(adminNavegationList.company, 2)" >
                        {{adminNavegationList.company[2].title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>