<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form id="createAirlineForm" name="createAirlineForm" role="form" novalidate="">

                <div class="form-group col-md-8 col-md-offset-2"
                     data-ng-class="{'has-error':createAirlineForm.codeInput.$invalid && createAirlineForm.codeInput.$dirty}">
                    <label for="codeInput" class="control-label col-md-3">Código</label>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               name="codeInput"
                               id="codeInput"
                               data-ng-maxlength="4"
                               data-ng-minlength="2"
                               placeholder="Código"
                               required
                               data-ng-model="airline.code"/>
                    </div>
                    <small class="error" ng-show="createAirlineForm.codeInput.$error.minlength && createAirlineForm.codeInput.$dirty"> Mínimo 2 carácteres.</small>
                    <small class="error" ng-show="createAirlineForm.codeInput.$error.maxlength && createAirlineForm.codeInput.$dirty"> Máximo 4 carácteres.</small>
                </div>

                <div class="form-group col-md-8 col-md-offset-2"
                     data-ng-class="{'has-error':createAirlineForm.nameInput.$invalid && createAirlineForm.nameInput.$dirty}">
                    <label for="nameInput" class="control-label col-md-3">Nombre</label>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm"
                               name="nameInput"
                               id="nameInput"
                               required
                               placeholder="Nombre"
                               data-ng-maxlength="60"
                               data-ng-minlength="3"
                               data-ng-model="airline.fullName"/>
                        <small class="error" ng-show="createAirlineForm.nameInput.$error.minlength && createAirlineForm.nameInput.$dirty"> Mínimo 3 carácteres.</small>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="createAirlineForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="createAirlineForm.$invalid"
            data-ng-click="submit()"
            > {{dialogAcceptButtonText}}</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>
