<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form id="createAdminCompanyForm" role="form" name="createAdminCompanyForm" novalidate>

                <div class="col-md-12">
                    <div class="col-md-12" style="border-bottom: 1px solid #eee; margin-bottom: 15px;">
                        <h5>Información Básica</h5>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error':createAdminCompanyForm.airlineInput.$invalid}">
                        <label for="airlineInput" class="control-label col-md-3">Aerolínea</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plane"></i></span>
                                <select class="form-control input-sm" 
                                        id="airlineInput"
                                        name="airlineInput"
                                        required
                                        data-ng-model="adminCompany.airlineId"
                                        data-ng-options="airline.id as airline.fullName for airline in airlineList"
                                        data-ng-change="changeAirline()"
                                        >
                                    <option value="" disabled="disabled">Seleccione&hellip;</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                        data-ng-class="{'has-error':createAdminCompanyForm.nameInput.$invalid && createAdminCompanyForm.nameInput.$dirty}">
                        <label for="nameInput" class="control-label col-md-3">Nombre</label>
                        <div class="col-md-6">
                            <input type="text" 
                                   class="form-control input-sm" 
                                   name="nameInput" 
                                   id="nameInput"
                                   placeholder="Nombre"
                                   required
                                   data-ng-minlength="3"
                                   data-ng-maxlength="60"
                                   data-ng-model="adminCompany.name"
                                   />
                        <small class="error" ng-show="createAdminCompanyForm.nameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createAdminCompanyForm.nameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error':createAdminCompanyForm.firstSurnameInput.$invalid && createAdminCompanyForm.firstSurnameInput.$dirty}">
                        <label for="firstSurnameInput" class="control-label col-md-3">Apellido 1</label>
                        <div class="col-md-9">
                            <input type="text" 
                                   class="form-control input-sm" 
                                   name="firstSurnameInput" 
                                   id="firstSurnameInput" 
                                   data-ng-minlength="3"
                                   data-ng-maxlength="60"
                                   required
                                   placeholder="Apellido 1"
                                   data-ng-model="adminCompany.firstSurname"/>
                            <small class="error" ng-show="createAdminCompanyForm.firstSurnameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                            <small class="error" ng-show="createAdminCompanyForm.firstSurnameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error':createAdminCompanyForm.secondSurnameInput.$invalid && createAdminCompanyForm.secondSurnameInput.$dirty}">
                         <label for="secondSurnameInput" class="control-label col-md-3">Apellido 2</label>
                        <div class="col-md-9">
                            <input type="text" 
                                   class="form-control input-sm" 
                                   name="secondSurnameInput" 
                                   id="secondSurnameInput" 
                                   data-ng-minlength="3"
                                   data-ng-maxlength="60"
                                   required
                                   placeholder="Apellido 2"
                                   data-ng-model="adminCompany.secondSurname"/>
                            <small class="error" ng-show="createAdminCompanyForm.secondSurnameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                            <small class="error" ng-show="createAdminCompanyForm.secondSurnameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error':createAdminCompanyForm.addressInput.$invalid && createAdminCompanyForm.addressInput.$dirty}">
                         <label for="addressInput" class="control-label col-md-3">Dirección</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control input-sm"
                                   name="addressInput"
                                   id="addressInput"
                                   data-ng-minlength="3"
                                   data-ng-maxlength="60"
                                   required
                                   placeholder="Dirección"
                                   data-ng-model="adminCompany.address"/>
                            <small class="error" ng-show="createAdminCompanyForm.addressInput.$error.minlength"> Mínimo 3 carácteres.</small>
                            <small class="error" ng-show="createAdminCompanyForm.addressInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        </div>
                    </div>
                </div>

                <!--Información de Cuenta-->
                <div class="col-md-12">
                    <div class="col-md-12" style="border-bottom: 1px solid #eee; margin-bottom: 15px;">
                        <h5>Información Cuenta</h5>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error': !createAdminCompanyForm.emailInput.$valid && createAdminCompanyForm.emailInput.$dirty 
                                            || (emailExists && createAdminCompanyForm.emailInput.$dirty)}">
                        <label for="emailInput" class="control-label col-md-3">Correo</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="email"
                                       class="form-control input-sm"
                                       name="emailInput"
                                       id="emailInput"
                                       placeholder="Correo"
                                       data-ng-change="existsEmail(adminCompany.email)"
                                       data-ng-model="adminCompany.email"/>
                            </div>
                            <small class="error" ng-show="!createAdminCompanyForm.emailInput.$valid && createAdminCompanyForm.emailInput.$dirty"> Formato inválido.</small>
                            <small class="error" ng-show="createAdminCompanyForm.emailInput.$valid && emailExists"> ¡El correo ya existe!</small>
                        </div>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error': createAdminCompanyForm.usernameInput.$error.minlength 
                                     || (usernameExists && createAdminCompanyForm.usernameInput.$dirty)}">
                        <label for="usernameInput" class="control-label col-md-3">Usuario</label>
                        <div class="col-md-6">
                            <input type="text"
                                   class="form-control input-sm"
                                   name="usernameInput"
                                   id="usernameInput"
                                   placeholder="Usuario"
                                   required
                                   data-ng-blur="existsUsername(adminCompany.username)"
                                   data-ng-maxlength="48"
                                   data-ng-minlength="3"
                                   data-ng-model="adminCompany.username"/>
                                  <small class="error" ng-show="createAdminCompanyForm.usernameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                                  <small class="error" ng-show="createAdminCompanyForm.usernameInput.$valid && usernameExists"> Nombre de usuario ocupado.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-class="{'has-error': createAdminCompanyForm.passwordInput.$error.minlength}">
                        <label for="passwordInput" class="control-label col-md-3">Contraseña</label>
                        <div class="col-md-6">
                            <input type="password"
                                   class="form-control input-sm"
                                   name="passwordInput"
                                   id="passwordInput"
                                   placeholder="Contraseña"
                                   data-ng-required
                                   data-ng-maxlength="50"
                                   data-ng-minlength="3"
                                   data-ng-model="adminCompany.password"/>
                                <small class="error" ng-show="createAdminCompanyForm.passwordInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        </div>
                    </div>
             
                    <div class="form-group col-md-10 col-md-offset-1"
                         data-ng-if="creationMode"
                         data-ng-show="createAdminCompanyForm.passwordInput.$valid && createAdminCompanyForm.passwordInput.$dirty"
                         data-ng-class="{'has-error': createAdminCompanyForm.newPasswordInput.$error.minlength || (!checkNewPassword(adminCompany.newPassword) && createAdminCompanyForm.passwordInput.$valid), 
                                        'has-success':checkNewPassword(adminCompany.newPassword) && createAdminCompanyForm.newPasswordInput.$dirty}">
                        <label for="newPasswordInput" class="control-label col-md-3">Confirmación</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="password"
                                       class="form-control input-sm"
                                       name="newPasswordInput"
                                       id="newPasswordInput"
                                       placeholder="Contraseña"
                                       data-ng-maxlength="50"
                                       data-ng-minlength="3"
                                       data-ng-required="creationMode"
                                       data-ng-model="adminCompany.newPassword"/>
                                <span class="input-group-addon" data-ng-show="checkNewPassword(adminCompany.newPassword)"><i class="glyphicon glyphicon-ok"></i></span>
                                <span class="input-group-addon" data-ng-show="createAdminCompanyForm.passwordInput.$valid && !checkNewPassword(adminCompany.newPassword)"><i class="glyphicon glyphicon-remove"></i></span>
                            </div>
                            <small class="error" ng-show="createAdminCompanyForm.newPasswordInput.$error.minlength"> Mínimo 3 carácteres.</small>
                            <small class="error" ng-show="createAdminCompanyForm.newPasswordInput.$dirty && createAdminCompanyForm.newPasswordInput.$valid 
                                                            && adminCompany.password !== adminCompany.newPassword"> ¡Las contraseñas son distintas!.</small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button form="createAdminCompanyForm" type="submit" class="btn btn-primary"
            data-ng-disabled="createAdminCompanyForm.$invalid || (creationMode && !checkNewPassword(adminCompany.newPassword))"
            data-ng-click="submit()">{{dialogAcceptButtonText}}</button>
    <button class="btn btn-default"
            data-ng-click="cancel()">Cancelar</button>
</div>