/* 
    Author     : rsanchez
*/

body{
    /*background-color:           #3b3f4b;*/
    margin:                     0;
    padding:                    0;
    font-size:                  12px;
    height:                     100%;
}

#main-wrapper{
    min-height:                 100%;
}

#main-header{
    height:                       63px;
    /*background-color:           #245269;*/
}

.user-login{
    line-height:                30px;
    color:                      #a0a0a0;
    font-size:                  12px;
    float:                      right;
    vertical-align:             top;
    padding-top:                20px;
    margin-right:              20px;
}

.small-pane{
    max-width:                  480px;
}

#main-content{
    min-height:                 100%;
    padding-bottom:             0px;
}

.container{
    padding-left:               0;
    padding-right:              0;
    width:                      100%;
    max-width:                  1220px;
}

.view-container{
    position:                   relative;
}

#main-footer{
    position:                   absolute;
    bottom:                     0;
    left:                       0;
    /*background-color:           #0f1013;;*/
    /*height:                     63px;*/
    width:                      100%;
    /*color:                      #a0a0a0;*/
}

.search-submit-panel{
    margin-top: 17px;
    
}

.item-flight-found{
    margin-bottom: 10px !important;
}

.fare-flight-found{
    font-size: 15px; 
}

/* ***** Table ****** */

.path-table > thead > tr > th{
    text-align: center;
}

.path-table > tbody > tr > td{
    text-align: center;
}


/* ***** Reserve ******* */

.reserve-step{
    margin-bottom: 12px;
}

.fare-label{
    padding: 4px 0px;
    text-align: center;
    color:white;
    font-size: 14px;
}

.business-color{
    background-color: #f0ad4e;
}

.tourist-color{
    background-color: #428bca;
}

.offer-color{
    background-color: #47a447;
}

.box-seat{
    background-color: #eee;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;;
}

.inner-box{
    margin: 6px 0px 0px 10px;
}

.seat{
    width: 25px; 
    height: 25px; 
    border: 1px solid #888; 
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 25px;
    background: #fff;
}

.seat-reserve{
    background: #ac2925;
    color: white;
}

.seat-selected{
    background-color: rgba(42, 171, 210, .4);
    color:white;
}

.seat-editable{
    color: white;
    background-color: #94C160;
}

.panel-controls-reserve{
    margin-top: 30px;
    padding: 10px 10px 10px 0px;
    border-top: 5px dotted #eee;
}

.btn-reserve{
    width: 100px;
}


/* **** Boarding Card ***** */

.boarding-title{
    border-bottom: 3px dotted #eee;
    padding: 3px 7px;
}

.boarding-panel{
    font-size: 14px;
}

.boarding-city{
    font-size: 16px;
    font-weight: bold;
    color: #888;
    text-align: center;
}


.no-fly-result-info{
    margin-top: 30px;
    text-align: center;
}


/* My Dashboard */

.title-my-flights{
    border-bottom: 1px solid #aaa;
    padding-bottom: 7px;
    padding-left: 10px
;
    margin-bottom: 18px;
}

.title-my-flights span.glyphicon-chevron-right{
    margin-right: 4px;
}


.info-no-flights h3{
    text-align: center;
}

.panel-my-flight{
    min-height: 70px;
}

.item-my-flight{
    height: 65px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #EEE;
    margin: 2px 0px;
}

.path-my-flight{
    /* display: inline-block; */  
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    text-align: center;
    line-height: 48px;
    height: 72%;
    color: white;
}

.departure-my-flight{
    float: right;
    
    /* background: aqua; */
    display: block;
    height: 100%;
    width: 34%;
    line-height: 65px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.code-my-flight{
    margin-right: 10px;
    
    font-size: 20px;
    color: black;
    border-left: 1px dotted white;
    padding-left: 7px;;
    /* float: right; */
    /* width: 1px; */
    float: right;
    min-width: 50px;
    height: 100%;
}

.actions-my-flight{
    float: right;
    height: 100%;
    width: 90px;
    padding-top: 15px;
}

.actions-my-flight span{
    display: inline;
    height: 45%;
    width: 33%;
    font-size: 17px;
    line-height: 31px;
    /* margin: 0 auto; */
    margin-right: 5px;
    float: right;
    color: black;
}

.basic-info-my-flight{
    display: block;
    background: #666;
    width: 30%;
    height: 100%;
    /* border-right: 1px dotted #FFF; */
}

.additional-info-my-flight{
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 10px;
    border-top: 1px solid #333;
    background-color: #444;
    padding: 1px 0px;
}

.additional-info-my-flight div{
    display: inline-block;
    margin-right: 5px;
    width: 22%;
}

.has-seat-type{
    float: right;
    font-size: 10px;
    /* padding-top: 1px; */
}

.has-seat-type span{
    float: right;
    background-color: #999;
    border: 1px solid #222;
    color: #fff;
    font-weight: bold;
}

.price-my-flight{
    float: right;
    height: 100%;
    width: 15%;
    text-align: center;
    line-height: 65px;
    font-size: 18px;
    font-weight: bold;
}

.reserve-date-my-flight{
    display: inline-block;
    
    height: 100%;
    text-align: center;
    line-height: 65px;
    width: 25%;
    float: right;
    font-size: 15px;
}

.path-flight-modif{
    /* text-align: center; */
    
    width: 100%;
    font-size: 24px;
    display: block;
    padding-bottom: 3px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #eee; */
}

.path-flight-modif span{
    font-size: 21px;
}


.finder-flight-modif{
    /* border-bottom: 1px solid #aaa; */
    /* border-top: 1px solid #eee; */
    padding-top: 19px;
    background-color: #eee;
}

.flightList-found{
    margin-top: 20px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.actions-flight-search{
    
}

.fares-flight-search{
    display: inline-block;
    margin-left: 3px;
}


.title-reports{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.title-section-reports{
    border-bottom: 1px solid #999;
    
    padding: 0px 0px 4px 8px;
    margin-bottom: 20px;
}

.item-reports{
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 80px;
    border-top: 1px solid #eee;
    margin-bottom: 5px;
    border-right: 1px solid #eee;
}

.path-reports{
    display: inline-block;
    width: 20%;
    height: 40%;
    font-size: 19px;
    background-color: #eee;
    text-align: center;
}

.no-flight-reports{
    text-align: center;
    
    color: #999;
}

.code-flight-reports{
    display: block;
    
    background-color: #999;
    width: 20%;
    height: 60%;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

.seat-reserved-reports{
    float: right;
    width: 15%;
    height: 100%;
    display: inline-block;
    background-color: #eee;
    /* margin-right: 3px; */
}

.seat-reserved-reports .totalSeat{
    font-size: 20px;
    
    line-height: 80px;
    text-align: center;
}

.seat-reserve-panel{
    float: right;
    display: inline-block;
    width: 11%;
    height: 100%;
}

.seat-reserve-panel{
    display: inline-block;
    height: 100%;
    width: 20%;
    /* border-left: 1px solid #eee; */
    /* border-right: 1px solid #eee; */
    text-align: center;
}

.seat-reserve-panel .panel-fare{
    display: inline-block;
    
    height: 100%;
    width: 48%;
} 
.seat-percentage{
    height: 70%;
    width: 100%;
    line-height: 55px;
    font-size: 23px;
    padding: 0;
    margin: 0;
}

.seat-number{
    padding-top: 2px;
    
    height: 30%;
    background-color: #999;
    color: white;
    padding-top: 4px;
}

.no-flight-reports{
    text-align: center;
    color: #999;
}
