<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form id="createFlightForm" name="createFlightForm" role="form" novalidate class="form-horizontal">

                <div class="col-xs-12" style="margin-bottom: 12px;">
                    <h5 style="border-bottom: 1px solid #eee; padding-bottom: 8px;">INFORMACIÓN</h5>
                    <div class="form-group" style="margin-top: 17px;">
                        <div class="col-sm-6">
                            <label  for="flightCodeInput" class="col-sm-3 control-label">Código</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control input-sm"
                                       name="flightCodeInput"
                                       id="flightCodeInput"
                                       maxlength="60"
                                       disabled="disabled"
                                       required
                                       data-ng-model="flight.code"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="companyCodeInput" class="control-label col-sm-8">Cod.Aerolínea</label>
                            <div class="col-sm-4">
                                <input type="text"
                                       class="form-control input-sm"
                                       name="companyCodeInput"
                                       id="companyCodeInput"
                                       maxlength="60"
                                       disabled="disabled"
                                       required
                                       data-ng-model="flight.airlineName"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class="control-label col-sm-3">Desde </label>
                            <div class="col-md-9">
                                <select class="form-control input-sm"
                                        data-ng-model="flight.origin"                                        
                                        data-ng-required
                                        data-ng-options="city.id as city.name for city in cityList">
                                    <option value="" disabled="disabled">Seleccione&hellip;</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-sm-3">Hasta</label>
                            <div class="col-md-9">
                                <select class="form-control input-sm"
                                        data-ng-model="flight.destination"                                        
                                        data-ng-options="city.id as city.name for city in cityList">
                                    <option value="" disabled="disabled">Seleccione&hellip;</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class="control-label col-xs-3">Salida</label>
                            <div class="col-xs-9">
                                <div class="dropdown">
                                    <a class="dropdown-toggle"
                                       id="departureInput"
                                       role="button"
                                       data-toggle="dropdown"
                                       data-target="#"
                                       href="#
                                       ">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <div class=" form-control input-sm">{{flight.departure| date:"dd/MM/yyyy HH:mm"}}</div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu"
                                        role="menu"
                                        >
                                        <datetimepicker data-ng-model="flight.departure"
                                                        data-datetimepicker-config="{ dropdownSelector: '#departureInput'}">
                                        </datetimepicker>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6">
                            <label class="control-label col-sm-3">Llegada</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <div class="form-control input-sm" style="background-color: #eee">{{flight.arrival| date:"dd/MM/yyyy HH:mm"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Plane-->
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="planeInput" class="col-xs-3 control-label">Avión</label>
                            <div class="col-xs-9">
                                <select class="form-control input-sm"
                                        id="planeInput"
                                        name="planeInput"
                                        data-ng-model="flight.plane"
                                        data-ng-options="plane.id as plane.model for plane in planeList"
                                        data-ng-change="changePlane(flight.plane)"
                                        >
                                    <option value="" disabled="disabled">Seleccione...</option>
                                </select>
                                <div style="margin-top: 10px; margin-left: 10px;"
                                     data-ng-show="flight.plane">
                                    <a href="#"
                                       tooltip-placement="bottom" 
                                       tooltip="Total ={{flight.planeInfo.total}}  
                                       Business ={{flight.planeInfo.business}} 
                                       Turista ={{flight.planeInfo.tourist}}
                                       Oferta ={{flight.planeInfo.offer}}">
                                        <span class="glyphicon glyphicon-send"></span> 
                                        Información Detallada
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label col-md-3">Tipo</label>
                            <div class="col-md-9">
                                <button type="button"
                                        style="width: 156px;"
                                        class="btn btn-default btn-sm" 
                                        ng-model="flight.roundTrip" 
                                        btn-checkbox>
                                    {{flight.roundTrip ? 'Ida y Vuelta' : 'Ida'}}
                                </button>      
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <h5 style="border-bottom: 1px solid #eee; padding-bottom: 8px;">TARIFAS</h5>

                    <div class="col-xs-12"
                         style="
                         border-bottom: 1px solid #eee;
                         padding: 10px 0px;
                         margin-bottom: 8px;
                         font-style: italic
                         ">
                        <div class="col-xs-2">Nombre</div>
                        <div class="col-xs-2 col-xs-offset-8">
                            <span>Precio</span>
                        </div>
                    </div>

                    <!--FARE: SELECTED--> 
                    <div class="col-xs-12">
                        <div class="form-group"
                             data-ng-class="{'has-error': createFlightForm.businessFareImport.$invalid}">
                            <label class="control-label col-xs-2">Business</label>
                            <div class="col-xs-6 col-xs-offset-4">
                                <div class="col-xs-6 col-xs-offset-6">
                                    <input type="number" 
                                           class="form-control input-sm"
                                           name="businessFareImport"
                                           id="businessFareImport"
                                           placeholder="&euro;"
                                           required
                                           min="1"
                                           max="9999"
                                           data-ng-model="currentFare.business"
                                           />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12"
                         data-ng-class="{'has-error': createFlightForm.touristFareImport.$invalid}">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Turista</label>
                            <div class="col-xs-6 col-xs-offset-4">
                                <div class="col-xs-6  col-xs-offset-6">
                                    <input type="number" 
                                           class="form-control input-sm"
                                           name="touristFareImport"
                                           id="touristFareImport"
                                           placeholder="&euro;"
                                           required
                                           min="1"
                                           max="9999"
                                           data-ng-model="currentFare.tourist"
                                           />
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-xs-12"
                         data-ng-class="{'has-error': createFlightForm.offerFareImport.$invalid}">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Oferta</label>
                            <div class="col-xs-6 col-xs-offset-4">
                                <div class="col-xs-6 col-xs-offset-6">
                                    <input type="number" 
                                           class="form-control input-sm"
                                           name="offerFareImport"
                                           id="offerFareImport"
                                           placeholder="&euro;"
                                           required
                                           min="1"
                                           max="9999"
                                           data-ng-model="currentFare.offer"
                                           />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group"
                             data-ng-class="{'has-error': createFlightForm.lastMinuteFareImport.$invalid}">
                            <label class="control-label col-xs-2">Minute</label>
                            <div class="col-xs-6 col-xs-offset-4">
                                <div class="col-xs-6 col-xs-offset-6">
                                    <input type="number" 
                                           class="form-control input-sm"
                                           name="lastMinuteFareImport"
                                           id="lastMintuteFareImport"
                                           placeholder="&euro;"
                                           required
                                           min="1"
                                           max="9999"
                                           data-ng-model="currentFare.lastMinute"
                                           />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12" >
                    <div>
                        <div class="btn-group-xs pull-right">                             
                            <button class="btn btn-success btn-xs"
                                    data-ng-click="changeFlag('new')"
                                    data-ng-disabled="flagNewPath || !flightIsValid(flight)
                                                || !fareIsValid(currentFare) || flagEditPath">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-info btn-xs"
                                    data-ng-click="changeFlag('edit')"
                                    data-ng-disabled="!anyPathSelected() || flagNewPath || flagEditPath">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger btn-xs"
                                    data-ng-click="deletePath(currentPath)"
                                    data-ng-disabled="!anyPathSelected() || flagNewPath || flagEditPath">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    data-ng-click="dismissNewPath()"
                                    data-ng-show="flagNewPath || flagEditPath">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                        <h5>TRAYECTOS</h5>
                    </div>
                    <hr>
                    <div data-ng-show="flagNewPath || flagEditPath">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="control-label col-sm-3">Origen </label>
                                <div class="col-md-9">
                                    <select class="form-control input-sm"
                                            data-ng-model="currentPath.origin"
                                            name="pathOriginInput"
                                            data-ng-options="city.id as city.name for city in cityList"
                                            data-ng-change="changeCity(currentPath.origin, 'origin')"
                                            >
                                        <option value="" disabled="disabled">Seleccione&hellip;</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label col-sm-3">Destino </label>
                                <div class="col-md-9">
                                    <select class="form-control input-sm"
                                            data-ng-model="currentPath.destination"
                                            name="pathDestinationInput"
                                            data-ng-options="city.id as city.name for city in cityList"
                                            data-ng-change="changeCity(currentPath.destination, 'destination')"
                                            >
                                        <option value="" disabled="disabled">Seleccione&hellip;</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="control-label col-sm-3">Salida</label>
                                <div class="col-md-9">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle"
                                           id="slotInput"
                                           role="button"
                                           data-toggle="dropdown"
                                           data-target="#"
                                           href="#
                                           ">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <div class=" form-control input-sm">{{currentPath.slot| date:"dd/MM/yyyy HH:mm"}}</div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu"
                                            role="menu"
                                            >
                                            <datetimepicker data-ng-model="currentPath.slot"
                                                            data-datetimepicker-config="{ dropdownSelector: '#slotInput'}">
                                            </datetimepicker>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label col-sm-3">Duración</label>
                                <div class="col-md-9">
                                    <input type="text" 
                                           class="form-control input-sm"
                                           name="durationInput"
                                           data-ng-model="currentPath.duration"
                                           placeholder="Duración (min)"       
                                           data-ng-required="true"
                                           />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="margin-bottom: 10px;">
                            <div class="pull-right">
                                <button class="btn btn-success btn-xs"
                                        data-ng-hide="!pathIsValid(currentPath)"
                                        data-ng-click="addOrEditPath(currentPath)"
                                        >{{titlePathButton}}</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <alert type='danger' data-ng-show="!validatePathList(pathList, flight) && pathList.length > 0">
                        <p style="text-align: center;">
                            Hay algunos de los trayectos que no se corresponden con el origen/destino adecuado  
                            <br>ó sus fechas de salida no son correctas.</p>
                    </alert>
                    <div class="alert alert-danger" role="alert" data-ng-show="notAppliedChanges">
                        <p style="text-align: center;">
                            No se han podido guardar los cambios debido a que las fechas indicadas 
                            <br>no son correctas, por favor reviselas detenidamente.</p>
                    </div>
                </div>

                <!--Path of flight-->
                <div class="col-xs-12" style="max-height: 150px; overflow-y: auto;">
                    <table class="table path-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Duración</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="path in pathList"
                                data-ng-click="selectPath(path)"
                                data-ng-class="path.selected ? 'warning':''">
                                <td>{{$index + 1}}</td>
                                <td>{{path.originName}}</td>
                                <td>{{path.destinationName}}</td>
                                <td>{{path.slot| date:"dd/MM/yyyy HH:mm" }}</td>
                                <td>{{path.duration}} min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="createFlightForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="!validatePathList(pathList, flight) || createFlightForm.businessFareImport.$invalid 
                                || createFlightForm.touristFareImport.$invalid || createFlightForm.offerFareImport.$invalid || createFlightForm.lastMinuteFareImport.$invalid"
            data-ng-click="submit()"
            > {{dialogAcceptButtonText}}</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>