<div>
    <h1> Welcome to {{title}}!</h1>
    <ul>
        <li><a href="#/admin/sys/company-admin">Administrador Compañia</a></li>
        <li><a href="#">Compañia Aérea</a></li>
        <li><a href="#">Aeropuerto</a></li>
    </ul>
</div>