<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form id="createPlaneForm" name="createPlaneForm" role="form" novalidate="">

                <h5 style="border-bottom: 1px solid #eee; padding-bottom: 8px;">Información Básica</h5>

                <div class="form-group col-md-12" style="margin-top: 14px;"
                     data-ng-class="{'has-error': createPlaneForm.modelInput.$invalid && createPlaneForm.modelInput.$dirty}">
                    <div class="col-md-4">
                        <label for="modelInput" class="control-label pull-right">Modelo</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text"
                               class="form-control input-sm"
                               name="modelInput"
                               id="modelInput"
                               data-ng-maxlength="45"
                               data-ng-minlength="3"
                               placeholder="Modelo"
                               required
                               data-ng-model="plane.model"/>
                        <small class="error" ng-show="createPlaneForm.modelInput.$error.minlength && createPlaneForm.modelInput.$dirty"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createPlaneForm.modelInput.$error.maxlength && createPlaneForm.modelInput.$dirty"> Máximo 45 carácteres.</small>

                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':createPlaneForm.manufacturerInput.$invalid && createPlaneForm.manufacturerInput.$dirty}">
                    <div class="col-md-4">
                        <label for="manufacturerInput" class="control-label pull-right">Fabricante</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text"
                               class="form-control input-sm"
                               name="manufacturerInput"
                               id="manufacturerInput"
                               data-ng-maxlength="80"
                               data-ng-minlength="3"
                               placeholder="Fabricante"
                               required
                               data-ng-model="plane.manufacturer"/>
                        <small class="error" ng-show="createPlaneForm.manufacturerInput.$error.minlength && createPlaneForm.manufacturerInput.$dirty"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createPlaneForm.manufacturerInput.$error.maxlength && createPlaneForm.manufacturerInput.$dirty"> Máximo 80 carácteres.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':createPlaneForm.manufactureDateInput.$invalid && createPlaneForm.manufactureDateInput.$dirty}">
                    <div class="col-md-4">
                        <label for="manufactureDateInput" class="control-label pull-right">Fabricación</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" 
                               class="form-control input-sm"
                               name="manufactureDateInput"
                               id="manufactureDateInput"
                               data-ng-model="plane.manufactureDate"
                               datepicker-popup="dd/MM/yyyy"
                               is-open="opened"
                               placeholder="Fecha fabricación"
                               data-ng-required="true"
                               close-text="Cerrar"
                               />
                    </div>
                </div>

                <h5 style="border-bottom: 1px solid #eee; padding-bottom: 8px;">Plazas</h5>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error': createPlaneForm.businessSeatsInput.$invalid && createPlaneForm.businessSeatsInput.$dirty}">
                    <div class="col-md-4">
                        <label for="businessSeatsInput" class="control-label pull-right">Business</label>
                    </div>
                    <div class="col-md-3">
                        <input type="number"
                               class="form-control input-sm"
                               name="businessSeatsInput"
                               id="businessSeatsInput"
                               required
                               min="1"
                               max="999"
                               data-ng-disabled="!creationMode"
                               data-ng-maxlength="3"
                               data-ng-minlength="1"
                               data-ng-model="plane.businessSeats"/>
                        <small class="error" ng-show="createPlaneForm.businessSeatsInput.$error.minlength && createPlaneForm.businessSeatsInput.$dirty"> Mínimo 1.</small>
                        <small class="error" ng-show="createPlaneForm.businessSeatsInput.$error.maxlength && createPlaneForm.businessSeatsInput.$dirty"> Máximo 999.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error': createPlaneForm.touristSeatsInput.$invalid && createPlaneForm.touristSeatsInput.$dirty}">
                    <div class="col-md-4">
                        <label for="touristSeatsInput" class="control-label pull-right">Turista</label>
                    </div>
                    <div class="col-md-3">
                        <input type="number"
                               class="form-control input-sm"
                               name="touristSeatsInput"
                               id="touristSeatsInput"
                               required
                               min="1"
                               max="999"
                               data-ng-disabled="!creationMode"
                               data-ng-maxlength="3"
                               data-ng-minlength="1"
                               data-ng-model="plane.touristSeats"/>
                        <small class="error" ng-show="createPlaneForm.touristSeatsInput.$error.minlength && createPlaneForm.touristSeatsInput.$dirty"> Mínimo 1.</small>
                        <small class="error" ng-show="createPlaneForm.touristSeatsInput.$error.maxlength && createPlaneForm.touristSeatsInput.$dirty"> Máximo 999.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error': createPlaneForm.offerSeatsInput.$invalid && createPlaneForm.offerSeatsInput.$dirty}">
                    <div class="col-md-4">
                        <label for="offerSeatsInput" class="control-label pull-right">Oferta</label>
                    </div>
                    <div class="col-md-3">
                        <input type="number"
                               class="form-control input-sm"
                               name="offerSeatsInput"
                               id="offerSeatsInput"
                               required
                               min="1"
                               max="999"
                               data-ng-disabled="!creationMode"
                               data-ng-maxlength="3"
                               data-ng-minlength="1"
                               data-ng-model="plane.offerSeats"/>
                        <small class="error" ng-show="createPlaneForm.offerSeatsInput.$error.minlength && createPlaneForm.offerSeatsInput.$dirty"> Mínimo 1.</small>
                        <small class="error" ng-show="createPlaneForm.offerSeatsInput.$error.maxlength && createPlaneForm.offerSeatsInput.$dirty"> Máximo 999.</small>
                    </div>
                </div>
                
                
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Total</label>
                    </div>
                    <div class="col-md-3">
                        <span class="form-control input-sm">{{plane.offerSeats + plane.touristSeats + plane.businessSeats}}</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="createPlaneForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="createPlaneForm.$invalid"
            data-ng-click="submit()"
            > {{dialogAcceptButtonText}}</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>