<div class="container">

    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Inicio de sesión</h4>
            </div>
            <div class="panel-body">
                <form name="adminLoginForm" role="form" novalidate>
                    <div class="form-group">
                        <input id="usernameInput" 
                               type="text" 
                               class="form-control input-sm" 
                               required="required" autofocus
                               placeholder="Nombre de usuario" 
                               data-ng-model="admin.username"
                               maxlength="48"
                               tabindex="1"/>
                    </div>
                    <div class="form-group">
                        <input id="passwordInput"
                               type="password"
                               class="form-control input-sm"
                               required="required"
                               placeholder="Contraseña"
                               data-ng-model="admin.password"
                               data-ng-keydown="submit($event)" 
                               maxlength="32"
                               tabindex="2"/>
                    </div>
                </form>
                <span data-ng-show="message">{{message}}</span>
            </div>
            <div class="panel-footer">
                <button type="submit" form="adminLoginForm" class="btn btn-info btn-sm"
                        data-ng-disabled="adminLoginForm.$invalid"
                        data-ng-click="login(admin)">
                    Enviar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <a data-history-back>Volver a la página Principal</a>
        </div>
    </div>
</div>