<div class="container">
<!--    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="pull-right">
                    <button class="btn btn-default disabled">Importar</button>
                    <button class="btn btn-default disabled">Exportar</button>
                </div>
            </div>
        </div>
    </div>-->
    
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="margin-bottom: 10px;">
            <button class="btn btn-default btn-sm"
                    data-ng-click="openCreateAdminCompanyDialog()">Nuevo</button>
            <button class="btn btn-default btn-sm"
                    data-ng-disabled="!anySelected()"
                    data-ng-click="openModifyAdminCompanyDialog()">Editar</button>
            <button class="btn btn-default btn-sm"
                    data-ng-disabled="!anySelected()"
                    data-ng-click="deleteAdminCompany()">Borrar</button>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h4>Administradores de Compañía</h4>
                </div>
                <div class="panel-body">
                    <table class="table path-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>1<sup>er</sup> Apellido</th>
                                <th>2<sup>do</sup> Apellido</th>
                                <th>Aerolínea</th>
                                <th>Usuario</th>
                                <th>Correo</th>
                                <th>Creación</th>
                                <th>Ult. Modificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="admin in adminList" data-ng-click="selectAdmin(admin)" 
                                data-ng-class="admin.selected ? 'warning':''">
                                <td>{{$index + 1}}</td>
                                <td>{{admin.name}}</td>
                                <td>{{admin.firstSurname}}</td>
                                <td>{{admin.secondSurname}}</td>
                                <td>{{admin.airlineName ? admin.airlineName : '-'}}</td>
                                <td>{{admin.username}}</td>
                                <td>{{admin.email}}</td>
                                <td>{{admin.creationDate | date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                                <td>{{admin.lastModificationDate | date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
