<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="margin-bottom: 10px;">
            <button class="btn btn-default btn-sm"
                    data-ng-click="openCreateAirlineDialog()">Nuevo</button>
            <button class="btn btn-default btn-sm"
                    data-ng-disabled="!anySelected()"
                    data-ng-click="openModifyAirlineDialog()">Editar</button>
            <button class="btn btn-default btn-sm"
                    data-ng-disabled="!anySelected()"
                    data-ng-click="deleteAirline()">Borrar</button>
            </div> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h4>Aerolíneas</h4>
                </div>
                <div class="panel-body">
                    <table class="table path-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Código</th>
                                <th>Creación</th>
                                <th>Ult. Modificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="airline in airlineList" data-ng-click="selectAirline(airline)" 
                                data-ng-class="airline.selected ? 'warning':''">
                                <td>{{$index + 1}}</td>
                                <td>{{airline.fullName}}</td>
                                <td>{{airline.code}}</td>
                                <td>{{airline.creationDate | date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                                <td>{{airline.lastModificationDate | date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>