<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="margin-bottom: 10px;">
            <button class="btn btn-default btn-sm"
                    data-ng-click="openCreateAirportDialog()">Nuevo</button>
            <button class="btn btn-default btn-sm"
                    data-ng-disabled="!anySelected()"
                    data-ng-click="openModifyAirportDialog()">Editar</button>
            <button class="btn btn-default btn-sm"
                    data-ng-disabled="!anySelected()"
                    data-ng-click="deleteAirport()">Borrar</button>
            </div> 
        </div>
    </div>
    
    <div class="row">
           <div class="col-xs-12">
               <div class="panel panel-default">
                   <div class="panel-heading">
                           <h4>Aeropuertos</h4>
                   </div>
                   <div class="panel-body">
                       <table class="table path-table">
                           <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Nombre</th>
                                   <th>Código</th>
                                   <th>Ciudad</th>
                                   <th>Creación</th>
                                   <th>Ult. Modificación</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr data-ng-repeat="airport in airportList" data-ng-click="selectAirport(airport)" 
                                   data-ng-class="airport.selected ? 'warning':''">
                                   <td>{{$index + 1}}</td>
                                   <td>{{airport.name}}</td>
                                   <td>{{airport.code}}</td>
                                   <td>{{airport.cityName}}</td>
                                   <td>{{airport.creationDate | date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                                   <td>{{airport.lastModificationDate | date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
</div>