<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="margin-bottom: 10px;">
                <button class="btn btn-default btn-sm"
                        data-ng-click="openCreateFlightDialog()">Nuevo</button>
                <button class="btn btn-default btn-sm"
                        data-ng-disabled="!anySelected()"
                        data-ng-click="openModifyFlightDialog()">Editar</button>
                <button class="btn btn-default btn-sm"
                        data-ng-disabled="!anySelected()"
                        data-ng-click="deleteFlight()">Borrar</button>
            </div> 
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Vuelos <span style="color:#FFF">{{ownAirline.fullName}}</span></h4>
                </div>
                <div class="panel-body">
                    <div data-ng-if="flightList.length > 0">
                        <table class="table path-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Cód.</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Salida</th>
                                    <th>LLegada</th>
                                    <th>Creación</th>
                                    <th>Ult. Modificación.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="flight in flightList" 
                                    data-ng-click="selectFlight(flight)"
                                    data-ng-class="flight.selected ? 'warning':''">
                                    <td>{{$index + 1}}</td>
                                    <td>{{flight.code}}</td>
                                    <td>{{flight.originName}}</td>
                                    <td>{{flight.destinationName}}</td>
                                    <td>{{flight.departure| date:"dd/MM/yyyy HH:mm"}}</td>
                                    <td>{{flight.arrival| date:"dd/MM/yyyy HH:mm"}}</td>
                                    <td>{{flight.creationDate| date:"dd/MM/yyyy HH:mm"}}</td>
                                    <td>{{flight.lastModificationDate| date:"dd/MM/yyyy HH:mm"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" data-ng-if="flightList.length === 0">
                        
                        <h5 style="text-align: center; color: #aaa">Aún no hay vuelos</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info" data-ng-hide="!currentFlight">
                <div class="panel-heading">
                    <i>Detalles</i>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <h5>Información</h5>
                        <div class="col-xs-12">
                            <label class="col-xs-3">Origen</label><span class="col-xs-9">{{currentFlight.originName}}</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-xs-3">Destino</label><span class="col-xs-9">{{currentFlight.destinationName}}</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-xs-3">Salida</label><span class="col-xs-9">{{currentFlight.departure| date:"dd/MM/yyyy HH:mm"}} hrs.</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-xs-3">LLegada</label><span class="col-xs-9">{{currentFlight.arrival| date:"dd/MM/yyyy HH:mm"}} hrs.</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-xs-3">Tipo</label><span class="col-xs-9">{{currentFlight.roundTrip === true ? 'Ida y Vuelta' : 'Ida'}}</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="col-xs-3"><i class="glyphicon glyphicon-send"></i></span>
                            <span class="col-xs-9">{{currentFlight.planeName}}</span>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h5>Tarifas</h5>
                        <div class="col-xs-12" data-ng-repeat="fare in currentFlight.fareList">
                            <label class="col-xs-3" data-ng-if="fare.type === 'BUSINESS'">Business</label>
                            <label class="col-xs-3" data-ng-if="fare.type === 'TOURIST'">Turista</label>
                            <label class="col-xs-3" data-ng-if="fare.type === 'OFFER'">Oferta</label>
                            <label class="col-xs-3" data-ng-if="fare.type === 'LAST_MINUTE'">Minute</label>
                            <span class="col-xs-9">{{fare.value}} &euro;</span>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h5>Trayectos</h5>
                        <div class="col-xs-12" data-ng-repeat="path in currentFlight.pathList">
                            <span class="col-xs-12" 
                                  style="border-bottom: 1px dotted #aaa;
                                  margin-bottom: 10px;
                                  margin-top:10px;
                                  background-color: #eee;
                                  ">
                                #{{$index + 1}}
                            </span>

                            <div class="col-xs-12">
                                <label class="col-xs-3">Desde</label><span class="col-xs-9">{{path.originName}}</span>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-3">Hasta</label><span class="col-xs-9">{{path.destinationName}}</span>
                            </div>

                            <div class="col-xs-12">
                                <label class="col-xs-3">Despegue</label><span class="col-xs-9">{{path.slot| date:"dd/MM/yyyy HH:mm"}} hrs.</span>
                            </div>

                            <div class="col-xs-12">
                                <label class="col-xs-3"><i class="glyphicon glyphicon-time"></i></label>
                                <span class="col-xs-9">{{path.duration}} min.</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>