<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="margin-bottom: 10px;">
                <button class="btn btn-default btn-sm"
                        data-ng-click="openCreatePlaneDialog()">Nuevo</button>
                <button class="btn btn-default btn-sm"
                        data-ng-disabled="!anySelected()"
                        data-ng-click="openModifyPlaneDialog()">Editar</button>
                <button class="btn btn-default btn-sm"
                        data-ng-disabled="!anySelected()"
                        data-ng-click="deletePlane()">Borrar</button>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Aviones <span style="color:#999;">{{ownAirline.fullName}}</span></h4>
                </div>
                <div class="panel-body">
                    <div data-ng-if="planeList.length > 0">
                        <table class="table path-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Modelo</th>
                                    <th>Fabricante</th>
                                    <th>Fabricación</th>
                                    <th>Plazas</th>
                                    <th>Creación</th>
                                    <th>Ult. Modificación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="plane in planeList" data-ng-click="selectPlane(plane)" 
                                    data-ng-class="plane.selected ? 'warning':''">
                                    <td>{{$index + 1}}</td>
                                    <td>{{plane.model}}</td>
                                    <td>{{plane.manufacturer}}</td>
                                    <td>{{plane.manufactureDate| date:"dd/MM/yyyy"}}</td>
                                    <td>{{plane.totalSeats}}</td>
                                    <td>{{plane.creationDate| date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                                    <td>{{plane.lastModificationDate| date:"dd/MM/yyyy - HH:mm:ss"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" data-ng-if="planeList.length === 0">
                        <h5 style="text-align: center; color: #aaa">Aún no hay aviones</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" data-ng-hide="!currentPlane">
                <div class="panel-heading">
                    <i>Detalles</i>
                </div>
                <div class="panel-body">

                    <div class="col-md-12">
                        <h5>Información Básica</h5>

                        <div class="col-md-12">
                            <label class="col-xs-3">Modelo</label>
                            <div class="col-xs-9">
                                {{currentPlane.model}}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-3">Fabricante</label>
                            <div class="col-xs-9">
                                {{currentPlane.manufacturer}}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-3">Fabricación</label>
                            <div class="col-xs-9">
                                {{currentPlane.manufactureDate| date:"dd/MM/yyyy" }}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <h5>Plazas</h5>

                        <div class="col-md-12">
                            <label class="col-xs-3">Total</label>
                            <div class="col-xs-9">
                                {{currentPlane.totalSeats}} Asientos
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-3">Business</label>
                            <div class="col-xs-9">
                                {{currentPlane.businessSeats}} Asientos
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-3">Turista</label>
                            <div class="col-xs-9">
                                {{currentPlane.touristSeats}} Asientos
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-xs-3">Oferta</label>
                            <div class="col-xs-9">
                                {{currentPlane.offerSeats}} Asientos
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>