<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-reports">Informes
                <small>Lista de Informes</small>
            </h1>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <h3 class="title-section-reports">VUELOS</h3>
            </div>
            <div class="col-md-12">                
                <ul class="list-unstyled" data-ng-show="flightList.length > 0">
                    <li class="item-reports" data-ng-repeat="flight in flightList">

                        <div class="seat-reserved-reports">
                            <div class="totalSeat">{{flight.numSeats}} TOTAL
                            </div>
                        </div>

                            <div class="seat-reserve-panel">
                            <div class="panel-fare">
                                <div class="seat-percentage">{{(flight.numTouristSeat * 100)/ flight.numSeats}}&percnt;</div>
                                <div class="seat-number">TURISTA {{flight.numTouristSeat}}</div>
                            </div>
                            <div class="panel-fare">
                                <div class="seat-percentage">{{(flight.numOfferSeat * 100)/ flight.numSeats}}&percnt;</div>
                                <div class="seat-number">OFERTA {{flight.numOfferSeat}}</div>
                            </div>
                        </div>


                        <div class="path-reports">
                            {{flight.originName}} - {{flight.destinationName}}
                        </div>
                        <div class="code-flight-reports">
                            {{flight.code}}
                        </div>
                    </li>
                </ul>
                <div class="col-md-12" data-ng-hide="flightList.length > 0">
                    <h3 class="no-flight-reports">¡Aún no hay vuelos sobre los que generar informes!</h3>
                </div>
            </div>

        </div>
    </div>
</div>