<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form id="createClientForm" name="createClientForm" role="form" novalidate="">

                <div class="col-md-12">
                    <h5>Información Básica:</h5>
                </div>
                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':createClientForm.nameInput.$invalid && createClientForm.nameInput.$dirty}">
                    <label for="nameInput" class="control-label col-md-3">Nombre</label>
                    <div class="col-md-5">
                        <input type="text"
                               class="form-control input-sm"
                               name="nameInput"
                               id="nameInput"
                               data-ng-minlength="3"
                               data-ng-maxlength="60"
                               placeholder="Nombre"
                               required
                               data-ng-model="client.name"/>
                        <small class="error" ng-show="createClientForm.nameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.nameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':createClientForm.firstSurnameInput.$invalid && createClientForm.firstSurnameInput.$dirty}">
                    <label for="firstSurnameInput" class="control-label col-md-3">Apellido 1</label>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm"
                               name="firstSurnameInput"
                               id="firstSurnameInput"
                               placeholder="Apellido 1"
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="60"
                               data-ng-model="client.firstSurname"/>
                        <small class="error" ng-show="createClientForm.firstSurnameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.firstSurnameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                    data-ng-class="{'has-error':createClientForm.secondSurnameInput.$invalid && createClientForm.secondSurnameInput.$dirty}">
                    <label for="secondSurnameInput" class="control-label col-md-3">Apellido 2</label>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm"
                               id="secondSurnameInput"
                               name="secondSurnameInput"
                               placeholder="Apellido 2"
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="60"
                               data-ng-model="client.secondSurname"/>
                        <small class="error" ng-show="createClientForm.secondSurnameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.secondSurnameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':createClientForm.addressInput.$invalid && createClientForm.addressInput.$dirty}">
                    <label for="addressInput" class="control-label col-md-3">Dirección</label>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm"
                               id="addressInput"
                               name="addressInput"
                               placeholder="Dirección"
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="60"
                               data-ng-model="client.address"/>
                        <small class="error" ng-show="createClientForm.addressInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.addressInput.$error.maxlength"> Máximo 60 carácteres.</small>
                    </div>
                </div>

                <div class="col-md-12">
                    <h5>Cuenta</h5>
                </div>
                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':(createClientForm.usernameInput.$invalid && createClientForm.usernameInput.$dirty) || usernameExists}">
                    <label class="control-label col-md-3">Username</label>
                    <div class="col-md-5">
                        <input type="text"
                               class="form-control input-sm"
                               name="usernameInput"
                               placeholder="Username"
                               required
                               data-ng-blur="existsUsername(client.username)"
                               data-ng-minlength="3"
                               data-ng-maxlength="48"
                               data-ng-model="client.username"/>
                        <small class="error" ng-show="createClientForm.usernameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.usernameInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        <small class="error" ng-show="createClientForm.usernameInput.$valid && usernameExists"> Nombre de usuario ocupado.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error': createClientForm.passwordInput.$invalid && createClientForm.passwordInput.$dirty}">
                    <label for="passwordInput" class="control-label col-md-3">Password</label>
                    <div class="col-md-8">
                        <input type="password"
                               class="form-control input-sm"
                               name="passwordInput"
                               id="passwordInput"
                               placeholder="password"
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="50"
                               data-ng-model="client.password"/>
                        <small class="error" ng-show="createClientForm.passwordInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.passwordInput.$error.maxlength"> Máximo 50 carácteres.</small>
                    </div>
                </div>
                
                <div class="form-group col-md-12"
                     data-ng-hide="createClientForm.passwordInput.$invalid"
                     data-ng-class="{'has-error': (createClientForm.passwordConfirmationInput.$invalid && createClientForm.passwordConfirmationInput.$dirty)
                                                    || (createClientForm.passwordConfirmationInput.$dirty && !checkPassword(client.passwordConfirmation)),
                                     'has-success':checkPassword(client.passwordConfirmation) && createClientForm.passwordConfirmationInput.$dirty}">
                    <label for="passwordConfirmationInput" class="control-label col-md-3">Confirmación</label>
                    <div class="col-md-8">
                        <div class="input-group">
                        <input type="password"
                               class="form-control input-sm"
                               name="passwordConfirmationInput"
                               id="passwordConfirmationInput"
                               placeholder="Confirmación"
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="50"
                               data-ng-model="client.passwordConfirmation"/>
                        <span class="input-group-addon" data-ng-show="checkPassword(client.passwordConfirmation)"><i class="glyphicon glyphicon-ok"></i></span>
                        <span class="input-group-addon" data-ng-show="createClientForm.passwordInput.$valid && createClientForm.passwordConfirmationInput.$dirty 
                                                                        && !checkPassword(client.passwordConfirmation)"><i class="glyphicon glyphicon-remove"></i></span>
                        </div>
                        <small class="error" ng-show="createClientForm.passwordConfirmationInput.$error.minlength"> Mínimo 3 carácteres.</small>
                        <small class="error" ng-show="createClientForm.passwordConfirmationInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        <small class="error" ng-show="createClientForm.passwordConfirmationInput.$valid && createClientForm.passwordConfirmationInput.$dirty
                                                        && client.password !== client.passwordConfirmation"> ¡Las contraseñas son distintas!.</small>
                    </div>
                </div>

                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':(createClientForm.emailInput.$invalid && createClientForm.emailInput.$dirty) || emailExists}">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="input-group">
                            <input type="email"
                                   class="form-control input-sm"
                                   name="emailInput"
                                   id="emailInput"
                                   placeholder="correo@example.com"
                                   required
                                   data-ng-change="existsEmail(client.email)"
                                   data-ng-maxlength="60"
                                   data-ng-model="client.email"/>
                            <span class="input-group-addon">@</span>
                        </div>
                        <small class="error" ng-show="createClientForm.emailInput.$error.maxlength"> Máximo 60 carácteres.</small>
                        <small class="error" ng-show="createClientForm.emailInput.$valid && emailExists">¡El correo ya existe!</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="createClientForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="createClientForm.$invalid"
            data-ng-click="submit()"
            > {{dialogAcceptButtonText}}</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>
