<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">Tarjeta de Embarque</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4 class="boarding-title"><span class="glyphicon glyphicon-chevron-right"></span> Datos Personales</h4>
            <div class="boarding-panel">
                <div class="form-group col-md-5">
                    <label class="control-label col-md-6">Nombre</label>
                    <span class="col-md-6">{{flight.user.name}}</span>
                </div>
                <div class="form-group col-md-7">
                    <label class="control-label col-md-4">Apellidos</label>
                    <span class="col-md-8">{{flight.user.surname}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4 class="boarding-title"><span class="glyphicon glyphicon-chevron-right"></span>Vuelo {{flight.code}} <small>{{flight.airline.name}}</small></h4>
            <div class="form-group col-md-6">
                <div class="boarding-city">{{flight.origin}}</div>
            </div>
            <div class="form-group col-md-6">
                <div class="boarding-city">{{flight.destination}}</div>
            </div>
            
            <div class="col-md-12">
                <h5>Trayectos</h5>
                <table class="table table-hover path-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Salida</th>
                            <th>Duración</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="path in flight.pathList">
                            <td>{{$index + 1}}</td>
                            <td>{{path.originName}}</td>
                            <td>{{path.destinationName}}</td>
                            <td>{{path.slot| date:"dd/MM/yyyy HH:mm" }}</td>
                            <td>{{path.duration}} min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" 
            data-ng-click="submit()">Imprimir</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cerrar</button>
</div>