<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span class="glyphicon glyphicon-chevron-right"></span> {{flight.code}}
                <small>{{flight.airline.name}}</small>
            </h1>
        </div>
    </div>

    <div class="row" data-ng-show="countReserves >= 3">
        <div class="col-md-10 col-md-offset-1">
            <alert type="danger"><center>Ha excedido el número máximo de reservas permitido, no podrá hacer nuevas reservas hasta pasadas 24h.</center></alert>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="pull-right">
                <buttom data-ng-click="exitAndSaveChanges()" style="font-size: 16px;"><span class="glyphicon glyphicon-arrow-left"></span> Salir</buttom>
            </div>
        </div>
    </div>
    <!--Flight Information-->
    <div class="row reserve-step">
        <div class="col-md-10 col-md-offset-1">
            <h3
                style="border-bottom: 5px dotted #eee"
                ><span class="label label-success">1</span> Información</h3>
            <div class="col-md-4" style="font-size: 14px;">
                <h4 
                    style="background-color: #eee; 
                    border-radius: 3px;
                    padding: 3px 0px 3px 15px;
                    color: #888;
                    ">Vuelo</h4>
                <div class="col-md-12">
                    <label class="col-md-3">Desde</label>
                    <div class="col-md-9">{{flight.originName}}</div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3">Hasta</label>
                    <div class="col-md-9">{{flight.destinationName}}</div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3">Salida</label>
                    <div class="col-md-9">{{flight.departure| date:"dd/MM/yyyy HH:mm"}} hrs.</div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3">Llegada</label>
                    <div class="col-md-9">{{flight.arrival| date:"dd/MM/yyyy HH:mm"}} hrs.</div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3">Avión</label>
                    <div class="col-md-9">{{flight.plane.model}}</div>
                </div>
            </div>
            <div class="col-md-8">
                <h4 
                    style="background-color: #eee; 
                    border-radius: 3px;
                    padding: 3px 0px 3px 15px;
                    color: #888;
                    ">Trayectos</h4>
                <div class="col-md-12">
                    <table class="table table-hover path-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Duración</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="path in flight.pathList">
                                <td>{{$index + 1}}</td>
                                <td>{{path.originName}}</td>
                                <td>{{path.destinationName}}</td>
                                <td>{{path.slot| date:"dd/MM/yyyy HH:mm" }}</td>
                                <td>{{path.duration}} min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="row reserve-step">
        <div class="col-md-10 col-md-offset-1">
            <h3
                style="border-bottom: 5px dotted #eee"
                ><span class="label label-success">2</span> Plazas</h3>
            <div class="col-md-12"
                 style="font-size: 18px;
                 background-color: #eee;
                 border-radius: 3px;
                 margin-top: 8px;
                 ">
                <div class="col-md-4" style="margin-top: 3px;">
                    <span class="glyphicon glyphicon-send"></span>
                    <span>{{flight.plane.model}}</span>
                </div>

                <div class="col-md-8" style="font-size: 14px; padding: 5px 0px;" >
                    <div class="pull-right">
                        <span style="color: #888;">Capacidad</span> {{flight.plane.totalSeat}}       
                        <span style="color: #888; margin-left: 10px;">Business</span> {{flight.plane.maxBusinessSeat}}  
                        <span style="color: #888; margin-left: 10px;">Turista</span> {{flight.plane.maxTouristSeat}}
                        <span style="color: #888; margin-left: 10px;">Oferta</span> {{flight.plane.maxOfferSeat}}     
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <!--Business-->
                <div class="col-md-4">
                    <h4 class="fare-label business-color">Business {{businessFare.value}}&euro;</h4>
                    <div class="box-seat">
                        <div class="inner-box">
                            <div data-ng-repeat="seat in businessSeatList"
                                 class="seat"
                                 data-ng-click="selectSeat(seat)"
                                 data-ng-class="{'seat-reserve':seat.reserved, 
                                                 'seat-selected': seat.selected && !seat.reserved}">
                                {{seat.number}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tourist-->
                <div class="col-md-4">
                    <h4  class="fare-label tourist-color">Turista {{touristFare.value}}&euro;</h4>
                    <div class="box-seat">
                        <div class="inner-box">
                            <div data-ng-repeat="seat in touristSeatList"
                                 class="seat"
                                 data-ng-click="selectSeat(seat)"
                                 data-ng-class="{'seat-reserve':seat.reserved,
                                                 'seat-selected': seat.selected && !seat.reserved}">
                                {{seat.number}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Offer-->
                <div class="col-md-4">
                    <h4 class="fare-label offer-color">Oferta {{offerFare.value}}&euro;</h4>
                    <div class="box-seat">
                        <div class="inner-box">
                            <div data-ng-repeat="seat in offerSeatList"
                                 class="seat"
                                 data-ng-click="selectSeat(seat)"
                                 data-ng-class="{'seat-reserve':seat.reserved,
                                                 'seat-selected': seat.selected && !seat.reserved}">
                                {{seat.number}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row reserve-step">
        <div class="col-md-10 col-md-offset-1 panel-controls-reserve">
            <div class="pull-right">
                <button class="btn btn-primary btn-reserve" 
                        data-ng-click="openSaveFlightReserve()"
                        data-ng-hide="numSeatSelected < 1 || countReserves >= 3"
                        >Reservar</button>
                <button class="btn btn-success btn-reserve" 
                        data-ng-click="openPayFlightReserve()"
                        data-ng-hide="numSeatSelected < 1 || countReserves >= 3"
                        >Pagar</button>
            </div>
        </div>
    </div>
</div>