<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!--Business-->
            <div class="col-md-12">
                <h4 class="fare-label business-color">Business {{businessFare.value}}&euro;</h4>
                <div class="box-seat">
                    <div class="inner-box">
                        <div data-ng-repeat="seat in businessSeatList"
                             class="seat"
                             data-ng-click="selectSeat(seat)"
                             data-ng-class="{'seat-reserve':seat.reserved, 
                                                 'seat-selected': seat.selected && !seat.reserved, 'seat-editable': seat.editable && !seat.selected}">
                            {{seat.number}}
                        </div>
                    </div>
                </div>
            </div>
            <!--Tourist-->
            <div class="col-md-12">
                <h4  class="fare-label tourist-color">Turista {{touristFare.value}}&euro;</h4>
                <div class="box-seat">
                    <div class="inner-box">
                        <div data-ng-repeat="seat in touristSeatList"
                             class="seat"
                             data-ng-click="selectSeat(seat)"
                             data-ng-class="{'seat-reserve':seat.reserved,
                                                 'seat-selected': seat.selected && !seat.reserved, 'seat-editable': seat.editable && !seat.selected}">
                            {{seat.number}}
                        </div>
                    </div>
                </div>
            </div>
            <!--Offer-->
            <div class="col-md-12">
                <h4 class="fare-label offer-color">Oferta {{offerFare.value}}&euro;</h4>
                <div class="box-seat">
                    <div class="inner-box">
                        <div data-ng-repeat="seat in offerSeatList"
                             class="seat"
                             data-ng-click="selectSeat(seat)"
                             data-ng-class="{'seat-reserve':seat.reserved,
                                                 'seat-selected': seat.selected && !seat.reserved, 'seat-editable': seat.editable && !seat.selected}">
                            {{seat.number}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="modifySeatsForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="numSeatSelected < 1"
            data-ng-click="submit()"
            >Aceptar</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>
