<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <form id="modifyFlightForm" role="form" novalidate class="form-horizontal">


            <div class="col-md-12">
                <span class="path-flight-modif">
                    <span class="glyphicon glyphicon-chevron-right"></span> {{flight.originName}}- {{flight.destinationName}}
                </span>
            </div>

            <div class="col-md-12 finder-flight-modif">
                <div class="form-group">
                    <div class="col-md-9">
                        <div class="col-xs-8">
                            <div class="dropdown">
                                <a class="dropdown-toggle"
                                   id="departureInput"
                                   role="button"
                                   data-toggle="dropdown"
                                   data-target="#"
                                   href="#
                                   ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <div class=" form-control input-sm">{{flight.departure| date:"dd/MM/yyyy HH:mm"}}</div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu"
                                    role="menu"
                                    >
                                    <datetimepicker data-ng-model="flight.departure"
                                                    data-datetimepicker-config="{ dropdownSelector: '#departureInput'}">
                                    </datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="number"
                                       class="form-control input-sm"
                                       name="numSeatInput"
                                       data-ng-model="flight.numSeats"
                                       id="numSeatInput"
                                       required
                                       min="1"
                                       max="9999"
                                       />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-md-offset-1">
                        <button class="btn btn-primary" 
                                data-ng-click="searchFlights()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="list-group flightList-found">

                <div data-ng-repeat="f in flightResultList">
                    <div class="list-group-item">

                        <div class="list-group-item-heading">
                            <span style="font-weight: bold">{{f.originName}} - {{f.destinationName}}</span>
                            <span style="font-style: italic; margin-left: 4px;">{{f.airline.name}} ({{f.airline.code}})</span>
                            <span style="color:#0088cc; margin-left: 4px; font-size: 0.85em;">{{f.departure| date:"dd/MM/yyyy HH:mm"}} hrs.</span>
                            <div class="actions-flight-search pull-right">
                                <div data-ng-show="(f.countReservedOrPaid.total < f.plane.totalSeat) &&
                                                    (flight.numSeats <= (f.plane.totalSeat - f.countReservedOrPaid.total))">
                                            <a class="btn btn-info btn-xs" href="" data-ng-click="selectFlight(f)">{{f.selected ? 'Seleccionado' : 'Seleccionar'}}</a>
                                </div>
                                <div data-ng-show="f.countReservedOrPaid.total === f.plane.totalSeat">
                                    <span class="label label-primary">COMPLETO</span>
                                </div>
                                <div data-ng-show="(flight.numSeats > (f.plane.totalSeat - f.countReservedOrPaid.total))
                                                    && (f.countReservedOrPaid.total !== f.plane.totalSeat)">
                                    <span style="color: #428bca; font-size: 15px;"><span class="glyphicon glyphicon-user"></span> Libres {{f.plane.totalSeat - f.countReservedOrPaid.total}}</span>
                                </div>
                            </div>                              
                        </div>


                        <span class="small" data-ng-repeat="path in f.pathList">
                            <span data-ng-if="$index === 0"> {{path.originName}}</span> <span class="glyphicon glyphicon-chevron-right"></span> {{path.destinationName}} 
                        </span>

                        <div class="fares-flight-search" data-ng-repeat="fare in f.fareList">
                            <span data-ng-if="fare.type === 'OFFER' && isValidFare(f, 'offer')">
                                <span  class="label label-success">{{fare.value}}&euro;</span>
                            </span>

                            <span data-ng-if="fare.type === 'TOURIST' && isValidFare(f, 'tourist')">
                                <span class="label label-primary">{{fare.value}}&euro;</span>
                            </span>

                            <span data-ng-if="fare.type === 'BUSINESS' && isValidFare(f, 'business')">
                                <span class="label label-warning">{{fare.value}}&euro;</span>
                            </span>
                        </div>  

                    </div>
                </div>
            </div>
            <div data-ng-show="flightResultList.length < 1">
                <h4 class="no-fly-result-info">
                    <span class="glyphicon glyphicon-send"></span> No hay vuelos publicados con estas características <span class="glyphicon glyphicon-send"></span></h4>
            </div>
        </div>
    </div>

    <div class="row" data-ng-show="newFlight !== null">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <h4 class="fare-label business-color">Business {{businessFare.value}}&euro;</h4>
                <div class="box-seat">
                    <div class="inner-box">
                        <div data-ng-repeat="seat in businessSeatList"
                             class="seat"
                             data-ng-click="selectSeat(seat)"
                             data-ng-class="{'seat-reserve':seat.reserved, 
                                                     'seat-selected': seat.selected && !seat.reserved, 'seat-editable': seat.editable }">
                            {{seat.number}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4  class="fare-label tourist-color">Turista {{touristFare.value}}&euro;</h4>
                <div class="box-seat">
                    <div class="inner-box">
                        <div data-ng-repeat="seat in touristSeatList"
                             class="seat"
                             data-ng-click="selectSeat(seat)"
                             data-ng-class="{'seat-reserve':seat.reserved,
                                                     'seat-selected': seat.selected && !seat.reserved, 'seat-editable': seat.editable }">
                            {{seat.number}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="fare-label offer-color">Oferta {{offerFare.value}}&euro;</h4>
                <div class="box-seat">
                    <div class="inner-box">
                        <div data-ng-repeat="seat in offerSeatList"
                             class="seat"
                             data-ng-click="selectSeat(seat)"
                             data-ng-class="{'seat-reserve':seat.reserved,
                                                     'seat-selected': seat.selected && !seat.reserved, 'seat-editable': seat.editable }">
                            {{seat.number}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="modifySeatsForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="numSeatSelected < 1"
            data-ng-click="submit()"
            >Aceptar</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>
