<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header" style="margin-top: -10px;">
                <h1>Dashboard <small>Mis vuelos</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <h3 class="title-my-flights"><span class="glyphicon glyphicon-chevron-right"></span>EN TRÁMITE</h3>
            </div>
            <div class="col-md-12 panel-my-flight">
                <div class="info-no-flights" data-ng-show="pendingFlightList.length === 0">
                    <h3>No hay vuelos</h3>
                </div>
                <div data-ng-show="pendingFlightList.length > 0">
                    <ul class="list-unstyled">
                        <li class="item-my-flight" data-ng-repeat="flight in pendingFlightList">
                            <div class="actions-my-flight">
                                <span class="glyphicon glyphicon-remove-sign" tooltip-placement="top" tooltip="Cancelar" data-ng-click="openCancelFlightDialog(flight)"></span> 
                                <span class="glyphicon glyphicon-ok-sign" tooltip-placement="top" tooltip="Pagar" data-ng-click="openPayFlightDialog(flight)"></span> 

                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-wrench" tooltip-placement="top" tooltip="Modificar Vuelo" data-ng-click="openModifyFlightDialog(flight)"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">CAMBIAR</li>
                                        <li><a href="" data-ng-click="openModifySeatsFlightDialog(flight)">Aientos</a></li>
                                        <li><a href="" data-ng-click="openModifyDateFlightDialog(flight)">Fecha/Hora</a></li>
                                    </ul>
                                </div>
                            
                            </div>
                            <!--<div class="price-my-flight">65.50&euro;</div>-->
                            <div class="reserve-date-my-flight">
                                <span class="glyphicon glyphicon-time"></span> {{flight.reserveDate| date:"dd/MM/yy HH:mm:ss"}}
                            </div>
                            <div class="departure-my-flight">
                                <span class="glyphicon glyphicon-calendar"></span>{{flight.departure| date:"dd/MM/yyyy HH:mm"}}  - {{flight.arrival| date:"dd/MM/yyyy HH:mm"}}
                            </div>
                            <div class="basic-info-my-flight">
                                <div class="path-my-flight">   
                                    <span>{{flight.originName}} - {{flight.destinationName}}</span><span class="code-my-flight">{{flight.code}}</span>
                                </div>
                                <div class="additional-info-my-flight">
                                    <div><span class="glyphicon glyphicon-send"></span> {{flight.planeName}}</div>
                                    <div><span class="glyphicon glyphicon-user"></span> {{flight.numSeats}}</div>
                                    <div><span class="glyphicon glyphicon-globe"></span> {{flight.roundTrip ? 'Ida y Vuelta': 'Ida'}}</div>
                                    <div class="has-seat-type">
                                        <span class="label label-warning" data-ng-show="flight.hasBusinessSeat">B</span>
                                        <span class="label label-primary" data-ng-show="flight.hasTouristSeat">T</span>
                                        <span class="label label-success" data-ng-show="flight.hasOfferSeat">O</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <h3 class="title-my-flights"><span class="glyphicon glyphicon-chevron-right"></span>RESERVADOS</h3>
            </div>
            <div class="col-md-12 panel-my-flight">
                <div class="info-no-flights" data-ng-show="reservedFlightList.length === 0">
                    <h3>No hay vuelos</h3>
                </div>
                <div data-ng-show="reservedFlightList.length > 0">
                    <ul class="list-unstyled">
                        <li class="item-my-flight" data-ng-repeat="flight in reservedFlightList">
                            <div class="actions-my-flight">
                                <span class="glyphicon glyphicon-remove-sign" tooltip-placement="top" tooltip="Cancelar" data-ng-click="openCancelFlightDialog(flight)"></span> 
                                <span class="glyphicon glyphicon-ok-sign" tooltip-placement="top" tooltip="Pagar" data-ng-click="openPayFlightDialog(flight)"></span>
                                <!--<span class="glyphicon glyphicon-wrench" tooltip-placement="top" tooltip="Modificar Vuelo" data-ng-click="openModifyFlightDialog(flight)"></span>-->

                                <div class="dropdown" data-ng-show="canModifyFlight(flight)">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-wrench" tooltip-placement="top" tooltip="Modificar Vuelo" data-ng-click="openModifyFlightDialog(flight)"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">CAMBIAR</li>
                                        <li><a href="" data-ng-click="openModifySeatsFlightDialog(flight)">Aientos</a></li>
                                        <li><a href="" data-ng-click="openModifyDateFlightDialog(flight)">Fecha/Hora</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-date-my-flight">
                                <span class="glyphicon glyphicon-time"></span> {{flight.reserveDate| date:"dd/MM/yy HH:mm:ss"}}
                            </div>
                            <div class="departure-my-flight">
                                <span class="glyphicon glyphicon-calendar"></span>{{flight.departure| date:"dd/MM/yyyy HH:mm"}}  - {{flight.arrival| date:"dd/MM/yyyy HH:mm"}}
                            </div>
                            <div class="basic-info-my-flight">
                                <div class="path-my-flight">   
                                    <span>{{flight.originName}} - {{flight.destinationName}}</span><span class="code-my-flight">{{flight.code}}</span>
                                </div>
                                <div class="additional-info-my-flight">
                                    <div><span class="glyphicon glyphicon-send"></span> {{flight.planeName}}</div>
                                    <div><span class="glyphicon glyphicon-user"></span> {{flight.numSeats}}</div>
                                    <div><span class="glyphicon glyphicon-globe"></span> {{flight.roundTrip ? 'Ida y Vuelta' : 'Ida'}}</div>
                                    <div class="has-seat-type">
                                        <span class="label label-warning" data-ng-show="flight.hasBusinessSeat">B</span>
                                        <span class="label label-primary" data-ng-show="flight.hasTouristSeat">T</span>
                                        <span class="label label-success" data-ng-show="flight.hasOfferSeat">O</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <h3 class="title-my-flights"><span class="glyphicon glyphicon-chevron-right"></span>PAGADOS</h3>
            </div>
            <div class="col-md-12 panel-my-flight">
                <div class="info-no-flights" data-ng-show="paidFlightList.length === 0">
                    <h3>No hay vuelos</h3>
                </div>
                <div data-ng-show="paidFlightList.length > 0">
                    <ul class="list-unstyled">
                        <li class="item-my-flight" data-ng-repeat="flight in paidFlightList">
                            <div class="actions-my-flight">
                                <span class="glyphicon glyphicon-print" tooltip-placement="top" tooltip="Imprimir T.E" data-ng-click="printBoardingCard(flight)"></span> 
                            </div>
                            <div class="reserve-date-my-flight">
                                <span class="glyphicon glyphicon-time"></span> {{flight.reserveDate| date:"dd/MM/yy HH:mm:ss"}}
                            </div>
                            <div class="departure-my-flight">
                                <span class="glyphicon glyphicon-calendar"></span>{{flight.departure| date:"dd/MM/yyyy HH:mm"}}  - {{flight.arrival| date:"dd/MM/yyyy HH:mm"}}
                            </div>
                            <div class="basic-info-my-flight">
                                <div class="path-my-flight">   
                                    <span>{{flight.originName}} - {{flight.destinationName}}</span><span class="code-my-flight">{{flight.code}}</span>
                                </div>
                                <div class="additional-info-my-flight">
                                    <div><span class="glyphicon glyphicon-send"></span> {{flight.planeName}}</div>
                                    <div><span class="glyphicon glyphicon-user"></span> {{flight.numSeats}}</div>
                                    <div><span class="glyphicon glyphicon-globe"></span> {{flight.roundTrip ? 'Ida y Vuelta' : 'Ida'}}</div>
                                    <div class="has-seat-type">
                                        <span class="label label-warning" data-ng-show="flight.hasBusinessSeat">B</span>
                                        <span class="label label-primary" data-ng-show="flight.hasTouristSeat">T</span>
                                        <span class="label label-success" data-ng-show="flight.hasOfferSeat">O</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
