<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" style="margin-top: 50px; padding-top: 40px">
                <form id="searchForm" name="searchForm" role="form" novalidate="">
                    <div class=" form-group col-md-12">
                        <div class="col-md-3">
                            <label for="originInput" class="control-label pull-right">Origen</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control input-sm"
                                    name="originInput"
                                    id="originInput"
                                    required
                                    data-ng-model="searchFlight.origin"
                                    data-ng-options="city.id as city.name for city in cityList"
                                    >
                                <option value="" disabled="disabled">Seleccione&hellip;</option>
                            </select>
                        </div>
                    </div>
                    <div class=" form-group col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Destino</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control input-sm"
                                    name="destinationInput"
                                    id="destinationInput"
                                    required
                                    data-ng-model="searchFlight.destination"
                                    data-ng-options="city.id as city.name for city in cityList"
                                    >
                                <option value="" disabled="disabled">Seleccione&hellip;</option>
                            </select>
                            <div style="margin-top: 10px;" class="small" data-ng-show="searchFlight.origin === searchFlight.destination
                                            && searchFlight.origin !== null && searchFlight.destination !== null"> 
                                ¡Las ciudades son iguales!
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Salida</label>
                        </div>
                        <div class="col-xs-9">
                            <div class="dropdown">
                                <a class="dropdown-toggle"
                                   id="departureInput"
                                   role="button"
                                   data-toggle="dropdown"
                                   data-target="#"
                                   href="#"
                                   >
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <div class=" form-control input-sm">{{searchFlight.departure| date:"dd/MM/yyyy HH:mm"}}</div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu"
                                    role="menu"
                                    >
                                    <datetimepicker data-ng-model="searchFlight.departure"
                                                    data-datetimepicker-config="{ dropdownSelector: '#departureInput'}">
                                    </datetimepicker>
                                </ul>
                            </div>
                            <span style="margin-top:10px;" class="small pull-right" data-ng-show="!isValidDate(searchFlight.departure) && searchFlight.departure !== null">Fecha inválida.</span>
                        </div>
                    </div>

                    <div class="form-group col-xs-12"
                         data-ng-class="{'has-error': searchForm.seatsInput.$invalid && searchForm.seatsInput.$dirty}">
                        <div class="col-md-3">
                            <label for="seatsInput" class="control-label pull-right">Plazas</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control input-sm"
                                   data-ng-model="searchFlight.seats"
                                   name="seatsInput"
                                   id="seatsInput"
                                   min="1"
                                   max="9999"
                                   type="number"
                                   required
                                   />
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <button type="button"
                                    style="width: 85px"
                                    class="btn btn-success btn-sm" 
                                    ng-model="searchFlight.roundTrip" 
                                    btn-checkbox>
                                {{searchFlight.roundTrip ? 'Ida y Vuelta' : 'Ida'}}
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-9 col-md-offset-3 search-submit-panel">
                            <button class="btn btn-primary col-xs-12"
                                    form="searchForm"
                                    type="submit"
                                    data-ng-disabled="!formSearchIsValid(searchFlight) || searchForm.$invalid"
                                    data-ng-click="submitSearch()"
                                    >
                                Buscar
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="jumbotron col-md-8" data-ng-show="!searchPetition" style="margin-top: 50px;">
                <div data-ng-if="!session.user">
                    <h1>Bienvenido!</h1>
                    <p>
                        Encuentra los mejores vuelos a precios increibles, 
                        ¿a que estás esperando para disfrutar de miles de ventajas?
                    </p>
                    <div class="pull-right">
                        <a href="#" data-ng-click="openSignupClient()"><small>Signup</small></a>
                    </div>
                </div>
                <div data-ng-if="session.user">
                    <h1>Hola {{session.user.name}}!</h1>
                    <p>
                        ¿A dónde te apetece viajar?. Rellena este sencillo formulario y a volar!
                    </p>
                </div>
            </div>

            <div class="col-md-8" data-ng-show="searchPetition">
                <div class="page-header">
                    <h1>Vuelos
                        <small>
                            {{requestOriginCity}} - {{requestDestinationCity}}
                            <span style="font-size: 18px; margin-left: 230px;"><span class="glyphicon glyphicon-user" style="font-size: 15px;"></span> {{searchFlight.seats}}</span>
                            <span style="font-size: 18px"><span class="glyphicon glyphicon-calendar" style="font-size: 15px;"></span> {{searchFlight.departure | date:"dd/MM/yyyy HH:mm"}}</span>
                            
                        </small>
                    </h1>
                </div>

                <div class="list-group">

                    <div data-ng-repeat="flight in flightResultList">
                        <div class="list-group-item item-flight-found">

                            <div class="list-group-item-heading">
                                <span style="font-weight: bold">{{flight.originName}} - {{flight.destinationName}}</span>
                                <span style="font-style: italic; margin-left: 4px;">{{flight.airline.name}} ({{flight.airline.code}})</span>
                                <span style="color:#0088cc; margin-left: 4px; font-size: 0.85em;">{{flight.departure| date:"dd/MM/yyyy HH:mm"}} hrs.</span>
                                <div class="pull-right" 
                                     style="margin-top: 8px; margin-left: 10px;"
                                     data-ng-if="session.user">
                                    
                                    <div data-ng-if="(flight.countReservedOrPaid.total < flight.plane.totalSeat) && 
                                                (searchFlight.seats <= (flight.plane.totalSeat - flight.countReservedOrPaid.total))">
                                        <a class="btn btn-info btn-xs" href="#/flight/{{flight.id}}/reserve">Comprar</a>
                                    </div>
                                    <div data-ng-if="flight.countReservedOrPaid.total === flight.plane.totalSeat">
                                        <span class="label label-primary">COMPLETO</span>
                                    </div>
                                    <div data-ng-if="(searchFlight.seats > (flight.plane.totalSeat - flight.countReservedOrPaid.total)) 
                                                && (flight.countReservedOrPaid.total !== flight.plane.totalSeat)">
                                        <span style="color: #428bca; font-size: 15px;"><span class="glyphicon glyphicon-user"></span> Libres {{flight.plane.totalSeat - flight.countReservedOrPaid.total}}</span>
                                    </div>
                                </div>

                                <div class="pull-right" 
                                     style="margin-top: 10px; margin-right: 10px;"
                                     data-ng-repeat="fare in flight.fareList">

                                    <span data-ng-if="fare.type === 'OFFER' && isValidFare(flight,'offer')">
                                        <span  class="label label-success fare-flight-found">{{fare.value}}&euro;</span>
                                    </span>

                                    <span data-ng-if="fare.type === 'TOURIST' && isValidFare(flight,'tourist')">
                                        <span class="label label-primary fare-flight-found">{{fare.value}}&euro;</span>
                                    </span>

                                    <span data-ng-if="fare.type === 'BUSINESS' && isValidFare(flight,'business')">
                                        <span class="label label-warning fare-flight-found">{{fare.value}}&euro;</span>
                                    </span>
                                </div>                                
                            </div>

                            <span class="small" data-ng-repeat="path in flight.pathList">
                                <span data-ng-if="$index === 0"> {{path.originName}}</span> <span class="glyphicon glyphicon-chevron-right"></span> {{path.destinationName}} 
                            </span>

                        </div>
                    </div>
                </div>
                <div data-ng-show="flightResultList.length < 1">
                    <h4 class="no-fly-result-info">
                        <span class="glyphicon glyphicon-send"></span> No hay vuelos publicados con estas características <span class="glyphicon glyphicon-send"></span></h4>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>
