
<div class="fluid-container">
    <div class="col-md-2 col-md-offset-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Inicio de sesión</h3>
        </div>
        <div class="panel-body">
            <form name="loginForm" role="form" novalidate="">
                <div class="form-group">
                    <input id="usernameInput" 
                           type="text" 
                           class="form-control" 
                           required="required" autofocus
                           placeholder="Nombre de usuario" 
                           data-ng-model="user.username"
                           maxlength="48"
                           tabindex="1"/>
                </div>
                <div class="form-group">
                    <input id="passwordInput"
                           type="password"
                           class="form-control"
                           required="required"
                           placeholder="Contraseña"
                           data-ng-model="user.password"
                           data-ng-keydown="submit($event)"
                           maxlength="32"
                           tabindex="2"/>
                </div>
            </form>
            <span data-ng-show="message">{{message}}</span>
        </div>
        <div class="panel-footer">
            <button type="submit" form="loginForm" class="btn btn-info"
                    data-ng-disabled="loginForm.$invalid">
                Enviar
            </button>
        </div>
    </div>
    </div>
</div>