<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <div class="row">
        <h4 class="modal-title" style="margin-left: 10px;">{{dialogTitle}}</h4>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form id="createAirportForm" name="createAirportForm" role="form" novalidate="">

                <div class="form-group col-md-10 col-md-offset-1"
                     data-ng-class="{'has-error':createAirportForm.codeInput.$invalid && createAirportForm.codeInput.$dirty}">
                    <label for="codeInput" class="control-label col-md-3">Código</label>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               name="codeInput"
                               id="codeInput"
                               data-ng-maxlength="4"
                               data-ng-minlength="2"
                               placeholder="Código"
                               required
                               data-ng-model="airport.code"/>
                    </div>
                    <small class="error" ng-show="createAirportForm.codeInput.$error.minlength"> Mínimo 2 carácteres.</small>

                </div>

                <div class="form-group col-md-10 col-md-offset-1"
                     data-ng-class="{'has-error':createAirportForm.nameInput.$invalid && createAirportForm.nameInput.$dirty}">
                    <label for="nameInput" class="control-label col-md-3">Nombre</label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control input-sm"
                               name="nameInput"
                               id="nameInput"
                               data-ng-maxlength="60"
                               data-ng-minlength="3"
                               placeholder="Nombre"
                               required
                               data-ng-model="airport.name"/>
                        <small class="error" ng-show="createAirportForm.nameInput.$error.minlength"> Mínimo 3 carácteres.</small>
                    </div>
                </div>

                <div class="form-group col-md-10 col-md-offset-1"
                     data-ng-class="{'has-error':createAirportForm.cityInput.$invalid}">
                    <label for="cityInput" class="col-md-3">Ciudad</label>
                    <div class="col-md-9">
                        <select class="form-control input-sm" 
                                id="cityInput"
                                name="cityInput"
                                data-ng-model="airport.cityId"
                                required
                                data-ng-options="city.id as city.name for city in cityList"
                                data-ng-change="changeCity()"
                                >
                            <option value="" disabled="disabled">Seleccione&hellip;</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button form="createAirportForm" 
            type="submit" 
            class="btn btn-primary"
            data-ng-disabled="createAirportForm.$invalid"
            data-ng-click="submit()"
            > {{dialogAcceptButtonText}}</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>